.parentContainer {
	width: 70%;
	height: 160px;
	background-color: #1cb0f6;
	position: absolute;
	padding: 30px 20px 20px 20px;
	left: 15%;
	right: 15%;
	top: 70px;
	border-radius: 5%;
}

.parentContainer:after {
	content: "";
	position: absolute;
	/* top: -5px; */
	left: 40px;
	right: 0;
	bottom: 160px;
	width: 0;
	/* margin: 0 auto; */
	border-bottom: 10px solid #1cb0f6;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
